/*  your css code here. If applicable */
*{
	background-color:rgb(135, 206, 235);
}
#div1{
	background-color:black;
	color:white;
}

#unorder li{
	width:50%;
	background-color:grey;
}

#change{
	color:red;
}

.check1{
	background-color:white;
	font-size:22px
}

#check3{
	background-color:pink;
}