/*  your css code here. If applicable */
:root{
	background:rgb(135, 206, 235);
}
#div1{
	background-color:black;
	color:white;
}

#unorder {
	width:50%;
	padding:10px;
/* 	background-color:grey; */
}

#change{
	color:red;
}

.check1{
	background-color:white;
	font-size:22px
}

#check3{
	background-color:pink;
}

.grey{
	background-color:grey;
}